{% extends 'job_app/base.html' %}
{%load static%}
{%block style_sheet%}<link rel="stylesheet" href="{%static 'css/login_mainstyles.css'%}">{%endblock%} 

{%block main_site%}

    <h2 class="margin-1"> login page</h2>
    <section class="grid-12 grid-parent max_width layout-center text-c">
        <article class="grid-8 v-h_center box_topPad5 box_BotPad2 box_margBot2" id="login_frm">
            <h4 style="font-size:1.5em; font-weight:600" class="v-h_center box_vertPad1">login </h4>
            <p style="width:60px; height:60px; border-radius:50%;  background:#f1f1f1;"><span class="fas fa-user" style="font-size:2em; color:#000;margin:auto; "></span></p>

            <form method="post" class="">
                <input type="text" name="user_email" placeholder="you@gmail.com" required class="">
                <input type="password" name="password" placeholder="Enter your password">

                {% csrf_token %}
                <button type="submit" class="v-h_center" style="margin:auto;padding:0.4em 0.6em; border-radius:4px;">Login</button>
            </form>
            <p>Dont have an account?</p>
            <a href="{% url 'register' %}" styel="display:block;">Sign Up</a>
        
            
        </article>
    </section>            
  
{% endblock %}