{% extends 'job_app/base.html' %}
{%load static%}

{%block main_site%}
  <section class="grid-12 layout-center" style="background:url('/static/images/jet-cloud-landing-aircraft-46148.jpg'); background-size:cover;background-position:center;background-repeat:no-repeat; height:100vh;position:relative;top:0;left:0;" data-scrollax="properties: { 'translateY': '60%', 'opacity': 0 }">
    <div class="overlay"></div>
    <article class="grid-12">
       <div class="grid-12">
         <section class="grid-8 v-h_center box_margTop2 box_vertPad2">
            <p class="grid-12 box_vertPad5 margin-1  text_c-white" style="font-size:16px;">Find Job,Employment ,and Career Opportunities</p>
            <h1 class="grid-12 text_c-light_gr box_margBot4" style="font-size:24px; font-weight:400;">The Easiest Way To Get Your New Job</h1>
            <!-- ****-->
            <article class="grid-12 v-h_center">
              <section class="grid-parent grid-8 layout-center">
              <!--***-->
                 <article class="grid-4">
                   <div class="grid-12 box_vertPad2">
                     <div class="grid-parent">
                      <article class="grid-6">
                        <span class="fas fa-globe-africa" style="font-size:4em;color:#fff;"></span>
                      </article>
                      <article class="grid-6">
                        <strong class="grid-12 text_c-light_gr"  style="line-height:1;font-size:34px; font-weight:600;" id="countries">46</strong>
                        <span class="grid-12 text_c-white">countries</span>
                      </article>
                     </div>
                   </div>
                 </article>
                 <!--***-->
                 <article class="grid-4">
                   <div class="grid-12 box_vertPad2">
                     <div class="grid-parent">
                      <article class="grid-6">
                        <span class="fas fa-lightbulb" style="font-size:4em;color:#fff;"></span>
                      </article>
                      <article class="grid-6">
                        <strong class="grid-12 text_c-light_gr " style="line-height:1;font-size:34px; font-weight:600;" id="companies">450</strong>
                        <span class="grid-12 text_c-white">Companies</span>
                      </article>
                     </div>
                   </div>
                 </article>   
                 <!--***-->
                 <article class="grid-4">
                   <div class="grid-12 box_vertPad2">
                     <div class="grid-parent">
                      <article class="grid-6">
                        <span class="fas fa-address-book text_c-white" style="font-size:4em;color:#fff;"></span>
                      </article>
                      <article class="grid-6">
                        <strong class="grid-12 text_c-light_gr"  style="line-height:1;font-size:34px; font-weight:600;" id="employees">1000</strong>
                        <span class="grid-12 text_c-white">Active Employees</span>
                      </article>
                     </div>
                   </div>
                 </article>      
              </section> 
            </article>
            <!--*****-->
            <article class="grid-12" style="margin:2em auto;">
              <section class="layout-center vert-margin-2">
               <div class=""></div>
               <article class="grid-12 ">
                 <div class="">
                   <div class="">
                     <form method="">
                       
                       <input type="search" class="grid-4 box_vertPad2 box_leftPad5 box_rightPad2 magnifyingGlass border_default" placeholder="search here for best experience...">
                     
                     </form>
                   </div>
                 </div>
               </article> 
              </section>
            </article>
         </section>
       </div>
    </article>  
  </section>
  <section class="grid-12 layout_rel " style="top:-80px;">
    <div class="grid-8 bg-light-gr  v-h_center bg-light_blue">
       <section class="grid-parent layout-center">
         <article class="grid-3 bg-light_blue " style="border-right:1px solid #999;">
           <div class="vert-alignC box_vertPad2">
             <h3 class="text_c-orange">Education and Training</h3>
             <span class="fas fa-home"></span>
             <p>
               <span class="grid-12 text_7 text_c-light_gr">143</span>
               <span class="text_c-white">Open position</span>
             </p>
           </div> 
         </article>
         <article class="grid-3" style="border-right:1px solid #aaa;">
           <div class="box_vertPad2">
             <h3 class="text_c-orange">Restaurant and Food</h3>
             <span class="fas fa-home"></span>
             <p>
               <span class="grid-12 text_7 text_c-light_gr">143</span>
               <span class="text_c-white">Open position</span>
             </p>
           </div> 
         </article>
         <article class="grid-3" style="border-right:1px solid #aaa;">
           <div class="box_vertPad2">
             <h3 class="text_c-orange">Guard</h3>
             <span class="fas fa-home"></span>
             <p>
               <span class="grid-12 text_7 text_c-light_gr">143</span>
               <span class="text_c-white">Open position</span>
             </p>
           </div> 
         </article>
         <article class="grid-3" >
           <div class="box_vertPad2">
             <h3 class="text_c-orange">Finance and accounting</h3>
             <span class="fas fa-home"></span>
             <p>
               <span class="grid-12 text_7 text_c-light_gr">143</span>
               <span class="text_c-white">Open position</span>
             </p>
           </div> 
         </article>
       </section>
    </div>
  </section>
  <!--****-->
  <section class="grid-12 v-pad2 layout-center  box_vertPad2">
    <div class="grid-12 text-c max_width">
        <article class="grid-12 text-c">
            <div class="box_vertPad2">
              <h2>Pro Finder</h2>
              <span>suggested</span>
            </div>
        </article>
        <article class="grid-parent grid-12 box_margTop2">
            <section class="grid-6 bg-light-gr box_topPad2">
              <article class="grid-12">
                <img src="{%static 'images/connect.svg'%}" style="max-width:300px; height:auto;"> 
                 <div class="box_topPad2">
                   <h2 class="box_margBot2">Connect with  people  who can help</h2>
                   <a href="" class="box_margTop2 text_c-white" style="background:#c7b198;padding:1em; border-radius:20px;">Find the right person to help</a>
                        
                 </div>     
                </article>
            </section>
            <section class="grid-6 v-pad2 layout-center vert-padd6">
                 <article class="grid-parent grid-12 vert-alignC v-h_center">
                     <img src="{%static 'images/work.svg'%}" class="grid-12 v-h_center" style="max-width:300px; height:auto;">  
                    <div class="grid-12">
                      <h2 class="box_margBot4">Learn the skills you need to succeed</h2>
                        <a href="" class="" >Find the right person to help</a>
                    </div>
                      
                 </article>      
            </section>
         </article>
       </div>
    </section>
    <section class="grid-12 v-pad2 layout-center">
      <div class="grid-parent grid-12 max_width">
        <article class="grid-6 vert-alignC v-h_center">
            <h2 class="box_vertPad2">Who is pro-job for?</h2>
            <h4>Any one looking to navigate their professinal life</h4>
        </article>
        <article class="grid-6">
        <img src="{%static 'images/guide.jpeg'%}" style="max-width:400px;"> 
        </article>
      </div>
    </section>
    <!--****-->
    <section class="grid-parent layout-center grid-12">
        <div class="layout-center grid-8 max_width" style="">
            <article class="layout-center vertical-alignc box_vertPad2 grid-12" id="subscribe-sec">
               <form method="post" action="">
                  <p class="box_vertPad2 text_7">Sign up for our News letter</p>
                    <input type="email" placeholder="you@example.com" required title="Email adress">
                    <button type="submit"  title="subscribe">subscribe</button>
                </form>
            </article>
        </div>
    </section>
    
    
  
{% endblock %}